<h1><%= @dog.title %></h1>
<p><%= @dog.body %></p>
<a href='/dogs/<%= @dog.id %>/edit'>Edit</a>
<img src="<%= @dog.image %>" alt="">

<form action=" <%= @dog.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="Delete">
</form>
