<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/angry.css">
  </head>
  <body>
    <h1><%= @dog.title %></h1>
    <p><%= @dog.body %></p>
    <img src="<%= @dog.image %>" alt="">
    <a href='/dogs/<%= @dog.id %>/edit'>Edit</a>


    <form action=" <%= @dog.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="name" value="Delete">
    </form>
  </body>
</html>
